<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.briannaCuba.Briize-Admin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please let Briize access your camera to be able to change and update your profile photo.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Briize needs to access the location settings on your iPhone to determine potential clients for you near by.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Briize needs to access the location settings on your iPhone to determine potential clients for you near by.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Briize needs to access the location settings on your iPhone to determine potential clients for you near by.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please let Briize access your photo library to be able to change and update your profile photo.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lobster-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoibWlsZXNmIiwiYSI6ImNpd2VlNHFxdTA1cmEydG9iemJyM2w2OHIifQ.8Oh3H8U9-A93Lj1Iz3II-A</string>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<true/>
</dict>
</plist>
